---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Moby 404" description="page not found." />
    </head>
    <body>
        <Header />
        <main class="main">
            <div>
            <p>404 Page not found.</p>
        </div>

        </main>
    </body>.
</html>
<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>