---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);


const { title } = Astro.props;


---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="Explore MOBY Community Garden in Vancouver, BC. Join us to cultivate your plot, learn about sustainable gardening, and connect with our vibrant community. Discover how we're growing together at the heart of East Vancouver.">
<link rel="icon" type="image/svg+xml" href='/favicon.svg' />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph Image for facebook and LinkedIn -->
<meta property="og:type" content="website">
<meta property="og:title" content="MOBY Community Garden">
<meta property="og:image" content="/moby_linkedin.png" />

<!-- Sitemap -->
<link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Page Title -->
<title>{title}</title>