---
const today = new Date();
---

<footer>
	<div>
		<a href="mailto:mobyrevival@gmail.com">mobyrevival@gmail.com</a>
		<p>Growing the community 🌱</p>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
