---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, pubType } =
	Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.title {
				padding-top: 0.5em;
				text-align: center;
				margin-top: 3em;
			}


			.published {
				font-size: .75em;
				color: rgba(84, 84, 84, 0.781);
				text-transform: capitalize; /* Capitalizes the first letter of each word */
				margin-top: 2em;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{
					heroImage && (
						<img width={1020} height={510} src={heroImage} alt="" />
					)
				}
			</article>
			<div class="prose">
				<div class="title">
					<h1>{title}</h1>

				</div>
				<slot />
				<div class="published">Published:
					{
						pubDate.toLocaleDateString("en-us", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})
					}
				</div>
			</div>
		</main>

		<Footer />
	</body>
</html>
